body {
    padding-top: 40px;
  }

  
.row1 {
    margin-bottom: 20px;
}


  .Gr1Rec1 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 800px;
  }  
  .rec1 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 400px;

  }  
  .rec3 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 400px;

  }  
  .rec4 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 400px;

  }  
  .Rec1 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 200px;
    margin-bottom: 112px;

  }
  .Rec2 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 300px;

  }
  .Rec3 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 300px;

  }
  .Rec4 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 300px;

  }
  .Rec5 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 250px;
    margin-bottom: 271px;
    margin-top: 100px;
  }
  .Rec6 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 250px;
    margin-top: -119px;
  }
  .row {
    margin-top: 100px;
  }
  .Rec7 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    width: 300px;
  }
  .Rec8 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    width: 300px;
  }
  .Rec9 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    width: 300px;
  }
  .Rec10 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    margin-right: 20px;
    width: 300px;
  }
  .Rec11 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    width: 684px;
  }
  .Rec12 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    width: 684px;
  }
  .Rec13 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    width: 684px;
  }
  .Rec14 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    width: 684px;
  }
  .Rec15 {
    background: #E2E6EB;
    border: 1px solid #ffff;
    border-radius: 20px;
    height: 900px;
    margin-top: -119px;
    width: 684px;
  }
  